// var zone
$white: rgb(255, 255, 255);

// nav style 
nav {
    display: flex;
    align-items: center;
    color: $white;
    flex-wrap: nowrap;
    width: 100%;

}

.nav_shop {
    font-size: 1.7rem;
}

.nav_company {
    margin-top: .75rem;
}

#shopcar {
    margin-top: 1rem;
}

.nav_shop span {
    position: absolute;
    font-size: 1.2rem;
    top: 0;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    height: 1.8rem;
    margin-left: 1.8rem;
}

// offcanvas
.canvas_ac {
    margin-top: 2.5rem;
}

.acount_bt {
    background: transparent;
    border: transparent;
}

.acount_bt:hover {
    background: transparent;
    border: transparent;
}



// nav style ends
// carousel elements

.carousel {
    margin-bottom: 4rem z-index 1;
}

// carousel elements ends   
// select type 

.select {
    display: flex;
    justify-content: center;
    min-height: 80px;
    flex-wrap: wrap;
}

.types {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 4rem 4rem 0 4rem;

    i {
        font-size: 2.5rem;
        cursor: pointer;
    }

    p {
        margin-top: 2rem;
    }

    .hot {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: rgb(199, 45, 45);
    }

    .sweet {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: burlywood;
    }

    .drink {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: rgb(46, 171, 171);
    }

    .medic {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: rgb(52, 176, 54);
    }

    .bread {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: goldenrod;
    }
}

// select type ends
// product elements
.products {
    padding: 3rem;
    background: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produflex {
    margin: 2rem;
}

.products img {
    width: 20rem;
    border-radius: 10px;
    box-shadow: 6px 12px 32px -7px rgba(0, 0, 0, 0.98);
}

.products h1 {
    color: #333;
}

// product  elements    ends
// shoppcar view start

.shop_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, .6);
    visibility: hidden;
    z-index: 4;

}

.shopcar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 60%;
    height: 80%;
    opacity: 0;
    visibility: hidden;
    transform: all 300ms ease-in-out;
    border-radius: 1.5rem;
    padding: 1.6rem;
    margin-top: 2rem;
}

.shopcar.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
}

.shop_overlay.show {
    visibility: visible;
}

.view_item img {
    width: 9rem;
    border-radius: 10px;
}

.shop_overlay h1 {
    text-align: center;
    font-size: 2rem;
}

.view_item {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    justify-items: center;
}

.updown {
    color: blue;
    font-size: 1.5rem;

    p {
        color: rgb(0, 0, 0);
        margin: -.3rem 0 -.3rem 0;
    }

    span {
        cursor: pointer;
    }
}

.elimi {
    color: red;
    font-size: 1.5rem;
}

.shop_footer {
    text-align: center;

    span {
        color: blue;
    }
}

// shoppcar view end

// pagination elements
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

// pagination elements ends


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    background-color: #333;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    max-width: 960px;
}


/*
* Custom translucent site header
*/

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #727272;
    transition: color .15s ease-in-out;
}

.site-header a:hover {
    color: rgb(236, 13, 13);
    text-decoration: none;
}

/*
* Dummy devices (replace them with your own or something else entirely!)
*/

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
* Extra utilities
*/

.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}